$microns-font-name: "microns" !default;
$microns-font-file: "microns" !default;

@font-face {
  font-family: $microns-font-name;
  font-style: normal;
  font-weight: normal;
  src: url("#{$microns-font-file}.woff2") format("woff2"),
       url("#{$microns-font-file}.woff") format("woff"),
       url("#{$microns-font-file}.otf") format("opentype"),
       url("#{$microns-font-file}.ttf") format("truetype"),
       url("#{$microns-font-file}.svg") format("svg");
}

.mu:before {
  font-family: $microns-font-name;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}


.mu-arrow-left:before {
  content: "\e700";
}

.mu-arrow-right:before {
  content: "\e701";
}

.mu-arrow-up:before {
  content: "\e702";
}

.mu-arrow-down:before {
  content: "\e703";
}

.mu-left:before {
  content: "\e704";
}

.mu-right:before {
  content: "\e705";
}

.mu-up:before {
  content: "\e706";
}

.mu-down:before {
  content: "\e707";
}

.mu-upload:before {
  content: "\e708";
}

.mu-download:before {
  content: "\e709";
}

.mu-undo:before {
  content: "\e70a";
}

.mu-redo:before {
  content: "\e70b";
}

.mu-replay:before {
  content: "\e70c";
}

.mu-refresh:before {
  content: "\e796";
}

.mu-external:before {
  content: "\e773";
}

.mu-internal:before {
  content: "\e795";
}

.mu-scale:before {
  content: "\e793";
}

.mu-scale-h:before {
  content: "\e79b";
}

.mu-scale-v:before {
  content: "\e79c";
}

.mu-move:before {
  content: "\e794";
}

.mu-move-alt:before {
  content: "\e79d";
}

.mu-swap:before {
  content: "\e79e";
}

.mu-shuffle:before {
  content: "\e79f";
}

.mu-caret:before {
  content: "\e70f";
}

.mu-caret-up:before {
  content: "\e710";
}

.mu-caret-down:before {
  content: "\e711";
}

.mu-i-left:before {
  content: "\e712";
}

.mu-i-right:before {
  content: "\e713";
}

.mu-i-up:before {
  content: "\e714";
}

.mu-i-down:before {
  content: "\e715";
}

.mu-i-plus:before {
  content: "\e716";
}

.mu-i-minus:before {
  content: "\e717";
}

.mu-i-equal:before {
  content: "\e7a6";
}

.mu-i-divide:before {
  content: "\e7a7";
}

.mu-i-tick:before {
  content: "\e718";
}

.mu-i-cross:before {
  content: "\e719";
}

.mu-i-bullet:before {
  content: "\e71a";
}

.mu-i-asterisk:before {
  content: "\e71b";
}

.mu-play:before {
  content: "\e71c";
}

.mu-pause:before {
  content: "\e71d";
}

.mu-prev:before {
  content: "\e774";
}

.mu-next:before {
  content: "\e775";
}

.mu-subtitles:before {
  content: "\e71e";
}

.mu-audio-description:before {
  content: "\e725";
}

.mu-vol-low:before {
  content: "\e71f";
}

.mu-vol-mid:before {
  content: "\e720";
}

.mu-vol-high:before {
  content: "\e721";
}

.mu-vol-mute:before {
  content: "\e722";
}

.mu-captions:before {
  content: "\e723";
}

.mu-hd:before {
  content: "\e724";
}

.mu-chart-line:before {
  content: "\e726";
}

.mu-chart-bar:before {
  content: "\e727";
}

.mu-chart-scatter:before {
  content: "\e728";
}

.mu-chart-pie:before {
  content: "\e729";
}

.mu-chart-area:before {
  content: "\e7a3";
}

.mu-calendar:before {
  content: "\e72a";
}

.mu-clock:before {
  content: "\e72b";
}

.mu-star:before {
  content: "\e72c";
}

.mu-heart:before {
  content: "\e72d";
}

.mu-flag:before {
  content: "\e72e";
}

.mu-bookmark:before {
  content: "\e72f";
}

.mu-chat:before {
  content: "\e730";
}

.mu-edit:before {
  content: "\e731";
}

.mu-delete:before {
  content: "\e732";
}

.mu-plus:before {
  content: "\e70d";
}

.mu-minus:before {
  content: "\e70e";
}

.mu-show:before {
  content: "\e733";
}

.mu-hide:before {
  content: "\e734";
}

.mu-lock:before {
  content: "\e735";
}

.mu-ban:before {
  content: "\e7a4";
}

.mu-pipette:before {
  content: "\e7a5";
}

.mu-link:before {
  content: "\e737";
}

.mu-attach:before {
  content: "\e776";
}

.mu-copy:before {
  content: "\e78a";
}

.mu-file:before {
  content: "\e73a";
}

.mu-folder:before {
  content: "\e777";
}

.mu-image:before {
  content: "\e73b";
}

.mu-video:before {
  content: "\e73c";
}

.mu-audio:before {
  content: "\e73d";
}

.mu-microphone:before {
  content: "\e778";
}

.mu-video-camera:before {
  content: "\e779";
}

.mu-print:before {
  content: "\e73e";
}

.mu-user:before {
  content: "\e738";
}

.mu-group:before {
  content: "\e739";
}

.mu-menu:before {
  content: "\e73f";
}

.mu-bars:before {
  content: "\e740";
}

.mu-opts-h:before {
  content: "\e742";
}

.mu-opts-v:before {
  content: "\e743";
}

.mu-home:before {
  content: "\e77a";
}

.mu-cancel:before {
  content: "\e741";
}

.mu-cog:before {
  content: "\e736";
}

.mu-search:before {
  content: "\e744";
}

.mu-zoom-in:before {
  content: "\e745";
}

.mu-zoom-out:before {
  content: "\e746";
}

.mu-contract:before {
  content: "\e747";
}

.mu-expand:before {
  content: "\e748";
}

.mu-grid:before {
  content: "\e749";
}

.mu-matrix:before {
  content: "\e74a";
}

.mu-list:before {
  content: "\e77b";
}

.mu-min:before {
  content: "\e791";
}

.mu-max:before {
  content: "\e792";
}

.mu-box:before {
  content: "\e750";
}

.mu-box-full:before {
  content: "\e751";
}

.mu-box-plus:before {
  content: "\e752";
}

.mu-box-minus:before {
  content: "\e753";
}

.mu-box-tick:before {
  content: "\e754";
}

.mu-box-cross:before {
  content: "\e755";
}

.mu-box-minus-o:before {
  content: "\e77c";
}

.mu-box-plus-o:before {
  content: "\e77d";
}

.mu-box-tick-o:before {
  content: "\e77e";
}

.mu-box-cross-o:before {
  content: "\e77f";
}

.mu-radio-off:before {
  content: "\e756";
}

.mu-radio-on:before {
  content: "\e757";
}

.mu-radio-full:before {
  content: "\e758";
}

.mu-info:before {
  content: "\e759";
}

.mu-warn:before {
  content: "\e75a";
}

.mu-pass:before {
  content: "\e75b";
}

.mu-fail:before {
  content: "\e75c";
}

.mu-unknown:before {
  content: "\e780";
}

.mu-power:before {
  content: "\e789";
}

.mu-text:before {
  content: "\e75d";
}

.mu-bold:before {
  content: "\e75e";
}

.mu-italic:before {
  content: "\e75f";
}

.mu-underline:before {
  content: "\e760";
}

.mu-strikeout:before {
  content: "\e761";
}

.mu-text-size:before {
  content: "\e762";
}

.mu-text-unstyle:before {
  content: "\e763";
}

.mu-paragraph:before {
  content: "\b6";
}

.mu-sub:before {
  content: "\e7a0";
}

.mu-sup:before {
  content: "\e7a1";
}

.mu-at:before {
  content: "\40";
}

.mu-hash:before {
  content: "\23";
}

.mu-align-left:before {
  content: "\e764";
}

.mu-align-center:before {
  content: "\e765";
}

.mu-align-right:before {
  content: "\e766";
}

.mu-indent:before {
  content: "\e767";
}

.mu-outdent:before {
  content: "\e768";
}

.mu-justify-left:before {
  content: "\e782";
}

.mu-justify-center:before {
  content: "\e781";
}

.mu-justify-right:before {
  content: "\e783";
}

.mu-chapters:before {
  content: "\e74b";
}

.mu-columns:before {
  content: "\e7a2";
}

.mu-sort-asc:before {
  content: "\e784";
}

.mu-sort-desc:before {
  content: "\e785";
}

.mu-translate:before {
  content: "\e786";
}

.mu-web:before {
  content: "\e76a";
}

.mu-cloud:before {
  content: "\e769";
}

.mu-wifi:before {
  content: "\e76b";
}

.mu-rss:before {
  content: "\e74c";
}

.mu-share:before {
  content: "\e74d";
}

.mu-mail:before {
  content: "\e74e";
}

.mu-code:before {
  content: "\e74f";
}

.mu-drive:before {
  content: "\e787";
}

.mu-server:before {
  content: "\e788";
}

.mu-landscape:before {
  content: "\e78d";
}

.mu-portrait:before {
  content: "\e78e";
}

.mu-panel-left:before {
  content: "\e78f";
}

.mu-panel-right:before {
  content: "\e790";
}

.mu-above:before {
  content: "\e78b";
}

.mu-below:before {
  content: "\e78c";
}

.mu-difference:before {
  content: "\e797";
}

.mu-intersect:before {
  content: "\e798";
}

.mu-outline:before {
  content: "\e799";
}

.mu-unite:before {
  content: "\e79a";
}
