@font-face {
  font-family: "microns";
  font-style: normal;
  font-weight: normal;
  src: url("microns.woff2") format("woff2"),
       url("microns.woff") format("woff"),
       url("microns.otf") format("opentype"),
       url("microns.ttf") format("truetype"),
       url("microns.svg") format("svg");
}

.mu:before {
  font-family: microns;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}

.mu-arrow-left:before {
  content: "\E700";
}

.mu-arrow-right:before {
  content: "\E701";
}

.mu-arrow-up:before {
  content: "\E702";
}

.mu-arrow-down:before {
  content: "\E703";
}

.mu-left:before {
  content: "\E704";
}

.mu-right:before {
  content: "\E705";
}

.mu-up:before {
  content: "\E706";
}

.mu-down:before {
  content: "\E707";
}

.mu-upload:before {
  content: "\E708";
}

.mu-download:before {
  content: "\E709";
}

.mu-undo:before {
  content: "\E70A";
}

.mu-redo:before {
  content: "\E70B";
}

.mu-replay:before {
  content: "\E70C";
}

.mu-refresh:before {
  content: "\E796";
}

.mu-external:before {
  content: "\E773";
}

.mu-internal:before {
  content: "\E795";
}

.mu-plus:before {
  content: "\E70D";
}

.mu-minus:before {
  content: "\E70E";
}

.mu-caret:before {
  content: "\E70F";
}

.mu-caret-up:before {
  content: "\E710";
}

.mu-caret-down:before {
  content: "\E711";
}

.mu-i-left:before {
  content: "\E712";
}

.mu-i-right:before {
  content: "\E713";
}

.mu-i-up:before {
  content: "\E714";
}

.mu-i-down:before {
  content: "\E715";
}

.mu-i-tick:before {
  content: "\E718";
}

.mu-i-cross:before {
  content: "\E719";
}

.mu-i-plus:before {
  content: "\E716";
}

.mu-i-minus:before {
  content: "\E717";
}

.mu-i-equal:before {
  content: "\E7A6";
}

.mu-i-divide:before {
  content: "\E7A7";
}

.mu-i-bullet:before {
  content: "\E71A";
}

.mu-i-asterisk:before {
  content: "\E71B";
}

.mu-play:before {
  content: "\E71C";
}

.mu-pause:before {
  content: "\E71D";
}

.mu-prev:before {
  content: "\E774";
}

.mu-next:before {
  content: "\E775";
}

.mu-subtitles:before {
  content: "\E71E";
}

.mu-vol-low:before {
  content: "\E71F";
}

.mu-vol-mid:before {
  content: "\E720";
}

.mu-vol-high:before {
  content: "\E721";
}

.mu-vol-mute:before {
  content: "\E722";
}

.mu-captions:before {
  content: "\E723";
}

.mu-hd:before {
  content: "\E724";
}

.mu-audio-description:before {
  content: "\E725";
}

.mu-chart-line:before {
  content: "\E726";
}

.mu-chart-bar:before {
  content: "\E727";
}

.mu-chart-scatter:before {
  content: "\E728";
}

.mu-chart-area:before {
  content: "\E7A3";
}

.mu-chart-pie:before {
  content: "\E729";
}

.mu-date:before,
.mu-calendar:before {
  content: "\E72A";
}

.mu-time:before,
.mu-clock:before {
  content: "\E72B";
}

.mu-star:before {
  content: "\E72C";
}

.mu-heart:before {
  content: "\E72D";
}

.mu-flag:before {
  content: "\E72E";
}

.mu-bookmark:before {
  content: "\E72F";
}

.mu-chat:before {
  content: "\E730";
}

.mu-edit:before {
  content: "\E731";
}

.mu-delete:before {
  content: "\E732";
}

.mu-show:before {
  content: "\E733";
}

.mu-hide:before {
  content: "\E734";
}

.mu-lock:before {
  content: "\E735";
}

.mu-ban:before {
  content: "\E7A4";
}

.mu-pipette:before {
  content: "\E7A5";
}

.mu-link:before {
  content: "\E737";
}

.mu-attach:before {
  content: "\E776";
}

.mu-user:before {
  content: "\E738";
}

.mu-group:before {
  content: "\E739";
}

.mu-file:before {
  content: "\E73A";
}

.mu-folder:before {
  content: "\E777";
}

.mu-image:before {
  content: "\E73B";
}

.mu-video:before {
  content: "\E73C";
}

.mu-audio:before {
  content: "\E73D";
}

.mu-microphone:before {
  content: "\E778";
}

.mu-video-camera:before {
  content: "\E779";
}

.mu-print:before {
  content: "\E73E";
}

.mu-menu:before {
  content: "\E73F";
}

.mu-bars:before {
  content: "\E740";
}

.mu-home:before {
  content: "\E77A";
}

.mu-cancel:before {
  content: "\E741";
}

.mu-cog:before {
  content: "\E736";
}

.mu-opts-h:before {
  content: "\E742";
}

.mu-opts-v:before {
  content: "\E743";
}

.mu-search:before {
  content: "\E744";
}

.mu-zoom-in:before {
  content: "\E745";
}

.mu-zoom-out:before {
  content: "\E746";
}

.mu-contract:before {
  content: "\E747";
}

.mu-expand:before {
  content: "\E748";
}

.mu-grid:before {
  content: "\E749";
}

.mu-matrix:before {
  content: "\E74A";
}

.mu-list:before {
  content: "\E77B";
}

.mu-rss:before {
  content: "\E74C";
}

.mu-share:before {
  content: "\E74D";
}

.mu-mail:before {
  content: "\E74E";
}

.mu-code:before {
  content: "\E74F";
}

.mu-box:before {
  content: "\E750";
}

.mu-box-full:before {
  content: "\E751";
}

.mu-box-plus:before {
  content: "\E752";
}

.mu-box-minus:before {
  content: "\E753";
}

.mu-box-tick:before {
  content: "\E754";
}

.mu-box-cross:before {
  content: "\E755";
}

.mu-box-plus-o:before {
  content: "\E77D";
}

.mu-box-minus-o:before {
  content: "\E77C";
}

.mu-box-tick-o:before {
  content: "\E77E";
}

.mu-box-cross-o:before {
  content: "\E77F";
}

.mu-radio-off:before {
  content: "\E756";
}

.mu-radio-on:before {
  content: "\E757";
}

.mu-radio-full:before {
  content: "\E758";
}

.mu-info:before {
  content: "\E759";
}

.mu-warn:before {
  content: "\E75A";
}

.mu-pass:before {
  content: "\E75B";
}

.mu-fail:before {
  content: "\E75C";
}

.mu-unknown:before {
  content: "\E780";
}

.mu-text:before {
  content: "\E75D";
}

.mu-bold:before {
  content: "\E75E";
}

.mu-italic:before {
  content: "\E75F";
}

.mu-underline:before {
  content: "\E760";
}

.mu-strikeout:before {
  content: "\E761";
}

.mu-text-size:before {
  content: "\E762";
}

.mu-text-unstyle:before {
  content: "\E763";
}

.mu-translate:before {
  content: "\E786";
}

.mu-align-left:before {
  content: "\E764";
}

.mu-align-center:before {
  content: "\E765";
}

.mu-align-right:before {
  content: "\E766";
}

.mu-justify-left:before {
  content: "\E782";
}

.mu-justify-center:before {
  content: "\E781";
}

.mu-justify-right:before {
  content: "\E783";
}

.mu-indent:before {
  content: "\E767";
}

.mu-outdent:before {
  content: "\E768";
}

.mu-sort-asc:before {
  content: "\E784";
}

.mu-sort-desc:before {
  content: "\E785";
}

.mu-chapters:before {
  content: "\E74B";
}

.mu-columns:before {
  content: "\E7A2";
}

.mu-cloud:before {
  content: "\E769";
}

.mu-web:before {
  content: "\E76A";
}

.mu-wifi:before {
  content: "\E76B";
}

.mu-drive:before {
  content: "\E787";
}

.mu-server:before {
  content: "\E788";
}

.mu-power:before {
  content: "\E789";
}

.mu-copy:before {
  content: "\E78A";
}

.mu-landscape:before {
  content: "\E78D";
}

.mu-portrait:before {
  content: "\E78E";
}

.mu-panel-left:before {
  content: "\E78F";
}

.mu-panel-right:before {
  content: "\E790";
}

.mu-min:before {
  content: "\E791";
}

.mu-max:before {
  content: "\E792";
}

.mu-scale:before {
  content: "\E793";
}

.mu-scale-h:before {
  content: "\E79B";
}

.mu-scale-v:before {
  content: "\E79C";
}

.mu-move:before {
  content: "\E794";
}

.mu-move-alt:before {
  content: "\E79D";
}

.mu-swap:before {
  content: "\E79E";
}

.mu-shuffle:before {
  content: "\E79F";
}

.mu-above:before {
  content: "\E78B";
}

.mu-below:before {
  content: "\E78C";
}

.mu-difference:before {
  content: "\E797";
}

.mu-intersect:before {
  content: "\E798";
}

.mu-outline:before {
  content: "\E799";
}

.mu-unite:before {
  content: "\E79A";
}

.mu-paragraph:before {
  content: "\00B6";
}

.mu-sub:before {
  content: "\E7A0";
}

.mu-sup:before {
  content: "\E7A1";
}

.mu-at:before {
  content: "\0040";
}

.mu-hash:before {
  content: "\0023";
}

.mu-stop:before {
  content: "\E7A8";
}

.mu-a11y:before {
  content: "\E7A9";
}

.mu-bag:before {
  content: "\E7AA";
}

.mu-mode-auto:before {
  content: "\E7B0";
}

.mu-mode-dark:before {
  content: "\E7B1";
}

.mu-mode-light:before {
  content: "\E7B2";
}
